*{
  margin: 0;
  box-sizing: border-box;
}
.App {
 min-height: 250vh;
  background: rgb(62, 166, 179);
  display: flex;
  justify-content: space-between;
    flex-direction: column;
}
@media(max-width:700px){
  .App{
    min-height: 300vh;
  }
}